/* * {
    border: 1px solid #f00;
} */

.App {
    text-align: center;
}

.centralise {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.fa {
    font-size: 60px !important;
}

.btn-props {
    position: absolute;
    top: 45%;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 1px solid #f00;
    outline: none !important;
    background: rgba(255, 255, 255, 0.4);
    /* color: #fff; */
}

.btn-props:hover {
    background: rgba(255, 255, 255, 0.2);
}

.btn-props[disabled] {
    background: #eee;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

.btn-left .fa {
    margin-left: -5px;
}

.btn-right .fa {
    margin-right: -5px;
}